<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Target-derivator Action Set"
            visible="true"
            id="se.ya2o.targetderivator.actionSet">
         <menu
               label="Derivator"
               id="derivatorMenu">
            <separator
                  name="derivatorGroup">
            </separator>
         </menu>
         <action
               label="Mark folders as derived (target, node_modules, output, bin)"
               icon="icons/markderiveddir.gif"
               class="se.ya2o.targetderivator.actions.TargetDerivatorAction"
               tooltip="Mark folders as derived (target, node_modules, output, bin)"
               menubarPath="derivatorMenu/derivatorGroup"
               toolbarPath="derivatorGroup"
               id="se.ya2o.targetderivator.actions.TargetDerivatorAction">
         </action>
      </actionSet>
   </extension>

</plugin>
